import 
/* green blue button */

.green-blue-btn {
  background-image: linear-gradient(
    to right,
    var(--green-light) 0%,
    var(--blue-light) 51%,
    var(--green-light) 100%
  );
}

.green-blue-btn {
  text-transform: uppercase;
  border: 0;
  line-height: 1.5;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(
    to right,
    var(--green-light) 0%,
    var(--blue-light) 51%,
    var(--green-light) 100%
  );
}

.green-blue-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
