.match__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.match__team {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}
.match__team > * {
  padding: 0 0.5rem;
}

.match__course,
.match__score {
  display: flex;
}
.match__column {
  width: 3rem;
  border-left: 1px solid #eee;
}
.match__column:last-child {
  border-right: 1px solid #eee;
}
.match__column > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-left {
  text-align: left;
}
.match__column--info {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.match__column--info > * {
  display: flex;
  align-items: center;
}
.row-cell {
  border-bottom: 1px solid #eee;
  height: 2rem;
}

.match__teamScores {
  display: flex;
  flex-direction: column;
}
.match__playerScore,
.match__teamScore {
  display: flex;
}
.match__teamScore {
  background-color: #eee;
}
.match__playerScore .row-cell {
  padding: 3rem 0;
}

[data-winner="tie"] {
  background-color: #eee;
}
[data-winner="teamOne"] {
  background-color: blue;
}
[data-winner="teamTwo"] {
  background-color: green;
}