#navMenu {
}
#navMenu__btn {
}
.navMenu__logo,
.navMenu__logo a {
  text-decoration: none;
  color: var(--green)
}
#navMenu ul li a {
  color: var(--green)
}
.dropdown-menu {
  z-index: 1100 !important;
}